@font-face {
  font-family: "AlteHaas";
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  src: url("../fonts/AlteHaasGroteskBold.ttf") format("ttf"),
    url("../fonts/assets/fonts/AlteHaasGroteskRegular.ttf") format("ttf");
}
