@font-face {
  font-family: AlteHaas;
  src: url(AlteHaasGroteskBold.ttf);
}

@keyframes font-animation {
  0% {
    font-size: 24px;
  }
  50% {
    font-size: 36px;
  }
  100% {
    font-size: 24px;
  }
}

@keyframes scale {
  0% {
    transform: scale(1); /* Initial size */
  }
  50% {
    transform: scale(1.2); /* Enlarged size */
  }
  100% {
    transform: scale(1); /* Back to initial size */
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounce-text1 {
  position: relative;
  top: 670px;
  left: 10px;
  width: 50%;
  text-align: center;
  font-size: 30px;
  color: white;
}

/* Reset default styles */
body {
  font-family: "AlteHaas", Arial, Helvetica, sans-serif !important;
  background-color: #000dff;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow-x: hidden;
}

h4 {
  display: inline-block;
  width: auto;
  padding: 5px; /* Optional: Add padding as needed */
  left: 500px;
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 90px;
  color: #fc4d04;
}

h3 {
  display: inline-block;
  width: auto;
  padding: 5px; /* Optional: Add padding as needed */
  left: 500px;
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 90px;
  color: #fc4d04;
}
.middle {
  color: #ffffff;
  position: relative;
  top: 20px;
  left: 20px;
  text-align: center;
  display: flex;
  bottom: 30px;
}
.button-container1 {
  flex: 1; /* Distribute available space equally among the containers */
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 30px;
}
.button-container2 {
  flex: 1; /* Distribute available space equally among the containers */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container3 {
  flex: 1; /* Distribute available space equally among the containers */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-overlay1 {
  position: relative;
  width: 80%;
  font-size: 20px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.text-overlay2 {
  position: relative;
  font-size: 20px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.text-overlay3 {
  position: relative;
  text-align: center;
  width: 80%;
  font-size: 20px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.button-container1:hover .text-overlay1 {
  opacity: 1;
}
.button-container2:hover .text-overlay2 {
  opacity: 1;
}
.button-container3:hover .text-overlay3 {
  opacity: 1;
}

.button {
  background-color: #fc4d04;
  border: 3px solid #fc4d04;
  border-radius: 5em;

  font-family: AlteHaas;
  font-size: 20px;
  color: white;

  padding: 40px 80px;
  min-width: 200px;
  margin: 4px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}

.button:hover {
  color: #2b00ff;
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.button1:before {
  transform: scaleX(0);
}
.button2::before {
  transform: scaleX(0);
}
.button3::before {
  transform: scaleX(0);
}
.button1:hover::before {
  transform: scaleX(1);
}
.overlay {
  position: relative;
  bottom: -40px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

h1 {
  font-family: AlteHaas !important;
  font-size: 20px;
  color: #fc4d04;
  position: absolute;
  left: 10%;
  bottom: 8rem;
  padding: 0rem 0rem;
  translate: 0% 0;
}

h3 {
  top: 50px;
  left: 300px;
  color: white;
  font-size: 90px;
  position: relative;
  margin: 3px;
  padding: 10px;
}

h4 {
  top: 50px;
  text-align: center;
  left: 0px;
  color: #ffffff;
  font-size: 40px;
  position: relative;
  margin: 3px;
  padding: 10px;
}
h5 {
  top: 10px;
  left: -20px;
  color: #ffffff;
  font-size: 20px;
  position: relative;
  margin: 10px;
  padding: 10px;
}
/*
  html {
    scroll-behavior: smooth;
  }
  */

#object1 {
  width: 50px;
  height: 40px;
  position: relative;
  left: 30px;
  top: 650px;
}
#object2 {
  width: 45px;
  height: 40px;
  position: relative;
  left: 1270px;
  top: 650px;
}
/* Navigation bar styles */
nav {
  display: inline-block;
  width: auto;
  padding: 5px; /* Optional: Add padding as needed */
  top: 10px;
  left: 10px;
  position: fixed;
  z-index: 999; /* Increase z-index to make it appear above other content */
}
nav:hover {
  z-index: +1;
}
nav ul {
  padding: 10px;
  background-color: none; /* This might be incorrect, use a valid color value */
  list-style: none;
  display: flex;
  gap: 1em;
}

nav li {
  flex: 1;
}
nav li.spacer {
  flex-grow: 1;
}

nav a {
  display: inline-block;
  line-height: normal;
  width: clamp(300px, 15vw, 240px);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  background: #fc4d04;
  border-radius: 1em;
}

section {
  min-height: 100vh;

  padding: 5rem 2rem 2rem;

  box-sizing: border-box;
}

section.content {
  width: 100%;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
/*
  section a.btn-next {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    padding: 0.25rem 0.5rem;
    translate: -50% 0;
  
    color: #fff;
    background: #fc4d04;
  }
  
  /* Content section styles */

#playdough {
  position: relative;
  top: -70px;
  width: auto;
  width: 100%;
  /* margin: 1em auto; */
  font-size: clamp(20px, 10.5vw, 700px);
  color: #fc4d04;
  text-transform: uppercase;
  cursor: ew-resize;
}
#playdough div {
  width: 100%;
  justify-content: center;
  display: flex;
}

#playdough span {
  transition: flex-basis 0.4s ease-in-out;

  flex-basis: 1%;
}
#playdough span:hover {
  flex-basis: 100%;
}

#content-start {
  position: relative;
  top: 10px;
  text-align: center;
  font-size: 70px;
  color: #ffffff;
  background-color: #2b00ff;
}

#content-two {
  margin-top: -1500px;
  font-size: 20px;
  color: #fc4d04;
  background-color: #2b00ff;
}
#content-three {
  font-family: AlteHaas;
  font-size: 20px;
  color: black;
  background-color: white;
}

.content-four {
  position: relative;
  left: 400px;
  top: 150px;
  font-size: 90px;
  color: white;
  width: 60%; /* Adjust the width as needed */
  height: 200px; /* Set the height equal to the width to make it a square */
  border: 2px solid #ffffff; /* Add a border around the box */
  text-align: center; /* Center the text horizontally */
  padding: 20px;
  border-radius: 8rem;
  transform-origin: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-five {
  font-size: 20px;
  color: #fc4d04;
  background-color: white;
}
#content-six {
  font-size: 20px;

  color: #fc4d04;
  background-color: white;
}

#content-seven {
  font-size: 20px;

  color: #fc4d04;
  background-color: white;
}
#content-eight {
  font-size: 20px;

  color: #fc4d04;
  background-color: white;
}
.jws-circle {
  top: -555px;
  left: -120px;
  width: 30px;
  height: 30px;
  font-size: 8px;
  position: relative;
  background-color: #2b00ff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(20deg); /* Rotate the line 45 degrees */
  transform-origin: center bottom; /* Set the rotation origin to the bottom center */

  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}

.kim-circle1 {
  top: -810px;
  left: 650px;
  width: 30px;
  height: 30px;
  font-size: 8px;
  position: relative;
  background-color: #fc4d04;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-20deg); /* Rotate the line 45 degrees */
  transform-origin: center bottom; /* Set the rotation origin to the bottom center */
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}

.kim-circle2 {
  z-index: +1;
  top: -2600px;
  left: 200px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  position: relative;
  background-color: #fc4d04;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(20deg); /* Rotate the line 45 degrees */
  transform-origin: center bottom; /* Set the rotation origin to the bottom center */
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}

.jws-circle2 {
  top: -100px;
  left: -20px;
  width: 60px;
  height: 60px;
  font-size: 15px;
  position: relative;
  background-color: #2b00ff;
  color: #fff;
  transform: scale(1.1);
  transition: all 0.3s ease;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}

.jws-box {
  top: -160px;
  left: 700px;
  width: 500px;
  height: 55px;
  border-radius: 0.2em;
  position: relative;
  color: #ffffff;
  font-size: 20px;
  background-color: #2b00ff;
}

.circle {
  top: -470px;
  left: 500px;
  width: 80px;
  height: 80px;
  position: relative;
  background-color: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}
.bonds-title {
  display: inline-block;
  width: auto;
  padding: 5px; /* Optional: Add padding as needed */
  position: relative;
  top: 100px;
  left: 100px;
  margin: 100px;
  text-align: center;
  font-size: 90px;

  color: white;

  animation: scale 3s ease 1s infinite; /* Name, duration, timing function, delay, iteration count */
}
.circle2 {
  top: -800px;
  z-index: +1;
  left: 400px;
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #2b00ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  border: 2px solid #ffffff;
}
.box1 {
  top: -880px;
  left: 500px;
  width: 600px;
  height: 200px;
  padding: 10px;

  position: relative;
  color: #ffffff;
  font-size: 25px;
  background-color: #2b00ff;
  border: 2px solid #ffffff;
}
.box2 {
  top: -880px;
  left: 100px;
  padding: 10px;
  width: 900px;
  height: 230px;

  position: relative;
  font-size: 25px;
  color: #ffffff;
  background-color: #2b00ff;
  border: 2px solid #ffffff;
}
.box3 {
  top: -880px;
  padding: 10px;
  left: 400px;
  width: 900px;
  height: 430px;
  position: relative;
  font-size: 25px;
  color: #ffffff;
  background-color: #2b00ff;
  border: 2px solid #ffffff;
}
.box4 {
  border: 2px solid #ffffff;
  top: -2200px;
  left: 100px;
  width: 800px;
  height: 350px;
  padding: 10px;
  position: relative;
  font-size: 25px;
  color: #ffffff;
  background-color: #fc4d04;
}

.box5 {
  border: 2px solid #ffffff;
  top: -1150px;
  left: 200px;
  width: 620px;
  height: 380px;
  padding: 10px;
  position: relative;
  font-size: 25px;
  color: #ffffff;
  background-color: #fc4d04;
}
.box6 {
  border: 2px solid #ffffff;
  top: -1050px;
  left: 500px;
  width: 720px;
  height: 380px;
  padding: 10px;
  position: relative;
  font-size: 25px;
  color: #ffffff;
  background-color: #fc4d04;
}

.circle3 {
  top: 0px;
  left: 500px;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #fc4d04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transform-origin: center bottom; /* Set the rotation origin to the bottom center */
  font-size: 20px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  animation: scale 3s ease 1s infinite; /* Name, duration, timing function, delay, iteration count */
}
.circle4 {
  overflow: hidden; /* Hide any overflowing text */

  left: 100px;
  top: -200px;
  width: 900px;
  height: 500px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 5em;
  position: relative;
  background-color: none;
  font-size: 25px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
}

.circle-y1 {
  top: -900px;
  z-index: -1;
  left: -500px;
  width: 400px;
  height: 400px;
  position: relative;
  background-color: #fc4d04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  animation: scale 3s ease 1s infinite;
}

.circle-y2 {
  top: 200px;
  left: 100px;
  width: 400px;
  height: 400px;
  position: relative;
  background-color: #fc4d04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  animation: scale 3s ease 1s infinite;
}
.circle-y3 {
  top: -750px;
  left: 100px;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #fc4d04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  animation: scale 3s ease 1s infinite;
}
.circle-y4 {
  top: -800px;
  left: -200px;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #fc4d04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  animation: scale 3s ease 1s infinite;
}
.circle-y5 {
  top: -1400px;
  z-index: -1;
  left: -400px;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #fc4d04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  animation: scale 3s ease 1s infinite;
}

.downward-line1 {
  position: relative;
  top: 939px;
  left: 30%;
  width: 0;
  height: 480px; /* Adjust the height as needed */
  border-left: 1px solid #ffffff; /* 1px width, solid style, black color */
  transform: rotate(43deg); /* Rotate the line 45 degrees */
}
.downward-line2 {
  position: relative;
  top: 525px;
  left: 52%;
  width: 0;
  height: 340px; /* Adjust the height as needed */
  border-left: 1px solid #ffffff; /* 1px width, solid style, black color */
  transform: rotate(0deg); /* Rotate the line 45 degrees */
}
.downward-line3 {
  position: relative;
  top: 140px;
  left: 1130px;
  width: 10px;
  height: 400px; /* Adjust the height as needed */
  border-left: 1px solid #ffffff; /* 1px width, solid style, black color */
  transform: rotate(-40deg); /* Rotate the line 45 degrees */
}

/* Pop-up Styles */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it appears above other elements */
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

/*.moving-text-container {
  width: 100%;
  overflow: hidden;
  position: relative; 
  top: 100px; 

.moving-text {
  white-space: nowrap;
  animation: moveText 15s linear infinite;
*/

@keyframes moveText {
  0% {
    transform: translateX(100%); /* Start off the right side of the container */
  }
  100% {
    transform: translateX(-100%); /* Move to the left side of the container */
  }
}

h6 {
  font-size: 30px;
  color: white;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.gif-1 {
  position: relative;
  top: 80px;
  left: 0px;
  width: 100px;
  height: 100px;
  font-size: 20px;
  color: white;
  animation: bounce 2s infinite; /* Apply the animation to your text */
}

.gif-2 {
  position: relative;
  top: 600px;
  left: 800px;
  width: 50px;
  height: 50px;
  font-size: 23px;
  color: white;
  animation: bounce 2s infinite; /* Apply the animation to your text */
}

.type-design {
  position: relative;
  width: 90%;
  top: 3000px;
  left: 0px;
  display: flex;
}

.title-y1 {
  display: inline-block;
  width: auto;
  padding: 15px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  border-radius: 5em;
  position: relative;
  left: 200px;
  top: 900px;
  font-size: 90px;
  color: white;
}

.intro-position {
  position: relative;
  top: 300px;
  left: -100px;
  width: 50%;
  float: right;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  color: white;
}

.image-column {
  position: relative;
  top: 2000px;
  left: 50px;
}

.image-column2 {
  position: relative;
  top: 4000px;
  left: 50px;
}

.type-title {
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  display: inline-block;
  width: auto;
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 910px;
  position: relative;
  top: 1800px;
  font-size: 80px;
  color: #fc4d04;
}

.text-column {
  position: relative;
  text-align: right;
  left: 120px;
  top: -2020px;
  font-size: 30px;
  color: white;
}

.typography-title {
  display: inline-block;
  width: auto;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 20px;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  position: relative;
  top: 1090px;
  font-size: 80px;
  color: #fc4d04;
}

.text-column2 {
  position: relative;
  left: 20px;
  text-align: left;
  width: 56%;
  top: 800px;
  font-size: 30px;
  color: white;
}

.design-title {
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  display: inline-block;
  width: auto;

  border: 1px solid white; /* Optional: Add a border for styling */
  left: 1115px;
  position: relative;
  top: 890px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column3 {
  text-align: right;
  position: relative;
  left: 610px;
  width: 56%;
  top: 900px;
  font-size: 30px;
  color: white;
}

.image-title {
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  display: inline-block;
  width: auto;
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 20px;
  position: relative;
  top: 950px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column4 {
  position: relative;
  text-align: left;
  width: 56%;
  top: 960px;
  left: 20px;
  font-size: 30px;
  color: white;
}

.imd-title {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 428px;
  position: relative;
  top: 1240px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column5 {
  position: relative;
  text-align: right;
  left: 610px;
  width: 56%;
  top: 1250px;
  font-size: 30px;
  color: white;
}

.movingimage-title {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 20px;
  position: relative;
  top: 1400px;
  font-size: 80px;
  color: #fc4d04;
}

.text-column6 {
  position: relative;
  text-align: left;
  width: 56%;
  top: 1410px;
  left: 20px;
  font-size: 30px;
  color: white;
}

.coding-title {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 1110px;
  position: relative;
  top: 1620px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column7 {
  position: relative;
  text-align: right;
  width: 56%;
  top: 1640px;
  left: 620px;
  font-size: 30px;
  color: white;
}

.theory-title {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 10px;
  position: relative;
  top: 1800px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column8 {
  position: relative;
  text-align: left;
  width: 56%;
  top: 1810px;
  left: 10px;
  font-size: 30px;
  color: white;
}

.title-y2 {
  display: inline-block;
  width: auto;
  padding: 10px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  border-radius: 5em;
  left: 600px;
  position: relative;
  top: 2100px;
  text-align: center;
  font-size: 80px;
  color: white;
}

.text-column9 {
  position: relative;
  text-align: center;
  width: 50%;
  top: 2200px;
  left: 50px;
  font-size: 35px;
  color: white;
}

.gif-3 {
  position: relative;
  text-align: center;
  width: 5px;
  height: 15px;
  top: 2250px;
  left: 800px;
  font-size: 25px;
  color: white;

  animation: bounce 2s infinite; /* Apply the animation to your text */
}

.gd-y2 {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 780px;
  position: relative;
  top: 2480px;
  font-size: 80px;
  color: #fc4d04;
}

.text-column10 {
  position: relative;
  text-align: right;
  width: 56%;
  top: 2500px;
  left: 610px;
  font-size: 30px;
  color: white;
}

.coding-y2 {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 20px;
  position: relative;
  top: 2700px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column11 {
  position: relative;
  text-align: left;
  width: 56%;
  top: 2720px;
  left: 20px;
  font-size: 30px;
  color: white;
}

.electives-y2 {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 1030px;
  position: relative;
  top: 2900px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column12 {
  position: relative;
  text-align: right;
  width: 56%;
  top: 2910px;
  left: 610px;
  font-size: 30px;
  color: white;
}

.typography-y2 {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 20px;
  position: relative;
  top: 3100px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column13 {
  position: relative;
  text-align: left;
  width: 56%;
  top: 3120px;
  left: 20px;
  font-size: 30px;
  color: white;
}

.imd-y2 {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 430px;
  position: relative;
  top: 3300px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column14 {
  position: relative;
  text-align: right;
  width: 56%;
  top: 3310px;
  left: 610px;
  font-size: 30px;
  color: white;
}

.theory-y2 {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 20px;
  position: relative;
  top: 3500px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column15 {
  position: relative;
  text-align: left;
  width: 56%;
  top: 3510px;
  left: 20px;
  font-size: 30px;
  color: white;
}

.image-y2 {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 1140px;
  position: relative;
  top: 3700px;
  text-align: right;
  font-size: 80px;
  color: #fc4d04;
}

.text-column16 {
  position: relative;
  text-align: right;
  width: 56%;
  top: 3710px;
  left: 610px;
  font-size: 30px;
  color: white;
}

.title-y3 {
  display: inline-block;
  width: auto;
  padding: 5px; /* Optional: Add padding as needed */
  left: 250px;
  position: relative;
  top: 3900px;
  text-align: center;
  font-size: 80px;
  color: white;
}

.gif-4 {
  position: relative;
  top: 4220px;
  left: 1000px;
  width: 100px;
  height: 100px;
  font-size: 18px;
  color: white;
  animation: bounce 2s infinite; /* Apply the animation to your text */
}

.text-column17 {
  position: relative;
  text-align: center;
  width: 56%;
  top: 4000px;
  left: 70px;
  font-size: 35px;
  color: white;
}

.electives-y3 {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 20px;
  position: relative;
  text-align: center;
  top: 4250px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column18 {
  position: relative;
  text-align: left;
  width: 56%;
  top: 4260px;
  left: 20px;
  font-size: 30px;
  color: white;
}

.design-y3 {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 1110px;
  position: relative;
  top: 4400px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column19 {
  position: relative;
  text-align: right;
  width: 56%;
  top: 4410px;
  left: 610px;
  font-size: 30px;
  color: white;
}

.coding-y3 {
  display: inline-block;
  width: auto;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  text-align: center;
  padding: 20px; /* Optional: Add padding as needed */
  border: 1px solid white; /* Optional: Add a border for styling */
  left: 20px;
  position: relative;
  top: 4550px;
  text-align: center;
  font-size: 80px;
  color: #fc4d04;
}

.text-column20 {
  position: relative;
  text-align: center;
  width: 56%;
  top: 4570px;
  left: 20px;
  text-align: left;
  font-size: 30px;
  color: white;
}

.button-y1 {
  position: relative;
  top: 400px;
  left: 800px;
  width: 40px;
  height: 40px;
  transform-origin: center bottom;
  border-radius: 0.2em;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  color: #2b00ff;
  background-color: #fc4d04;
}
.button-y2 {
  position: relative;
  top: 400px;
  left: 900px;
  width: 40px;
  height: 40px;
  transform-origin: center bottom;
  border-radius: 0.2em;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  color: #2b00ff;
  background-color: #fc4d04;
}

.button-y3 {
  position: relative;
  top: 400px;
  left: 1000px;
  width: 40px;
  height: 40px;
  transform-origin: center bottom;
  border-radius: 0.2em;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  color: #2b00ff;
  background-color: #fc4d04;
}

/* Style for the column container */
.column-container {
  display: flex; /* Use Flexbox */
  justify-content: space-between; /* Distribute space evenly between columns */
}

/* Style for each column */
.column {
  flex: 1; /* Make columns equally spaced */
  padding: 20px; /* Add some padding for spacing */
  border: 1px solid #ccc; /* Add borders for visualization */
  text-align: center; /* Center text */
}

.circle-p {
  position: relative;
  top: 650px;
  left: -670px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #fc4d04;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}
.circle-23 {
  position: relative;
  top: 601px;
  left: -620px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #fc4d04;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}

.title-bf {
  display: inline-block;
  width: 50%;
  padding: 5px; /* Optional: Add padding as needed */
  position: relative;
  color: white;
  font-size: 40px;
  top: -1600px;
  left: 10px;
}

.environment-title {
  display: inline-block;
  width: auto;
  padding: 5px; /* Optional: Add padding as needed */
  position: relative;
  color: white;
  font-size: 50px;
  top: 100px;
  left: 450px;
}

.environment-subtitle {
  display: inline-block;
  width: auto;
  padding: 5px; /* Optional: Add padding as needed */
  position: relative;
  color: white;
  font-size: 20px;
  top: 130px;
  left: 80px;
}

.environment-text1 {
  width: 50%;
  position: relative;
  top: 140px;
  left: 360px;
  text-align: center;
  color: white;
  font-size: 30px;
}

.environment-question {
  width: 90%;
  position: relative;
  font-size: 12px;
  top: 175px;
  left: 960px;
  color: #fc4d04;
}
