@font-face {
  font-family: AlteHaas;
  src: url(AlteHaasGroteskBold.ttf);
}

@keyframes scale {
  0% {
    transform: scale(1); /* Initial size */
  }
  50% {
    transform: scale(1.2); /* Enlarged size */
  }
  100% {
    transform: scale(1); /* Back to initial size */
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.bounce-text1 {
  width: 45%;
  position: relative;
  top: 800px;
  left: 10px;
  text-align: center;

  font-size: 25px;
  color: rgb(255, 255, 255);
}
.bounce-text2 {
  overflow: hidden;
  width: 900px;
  height: 100px;
  position: relative;
  top: 5000px;
  left: 400px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 8rem;
  font-size: 14px;
  color: rgb(0, 0, 0);
}
.bounce-text3 {
  background-color: #ff54bb;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
  height: 80%;
  position: relative;
  top: 5000px;
  left: 500px;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 8rem;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

/* Reset default styles */
body {
  font-family: "AlteHaas", Arial, Helvetica, sans-serif !important;
  background-color: #000dff;
  margin-top: 100px;
  margin-bottom: 100px;
}

h3,
h4 {
  pointer-events: none;
}
.middle {
  color: #ffffff;
  position: relative;
  top: 20px;
  left: 20px;
  text-align: center;
  display: flex;
  bottom: 30px;
}
.button-container1 {
  flex: 1; /* Distribute available space equally among the containers */
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 30px;
}
.button-container2 {
  flex: 1; /* Distribute available space equally among the containers */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-container3 {
  flex: 1; /* Distribute available space equally among the containers */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-overlay1 {
  position: relative;
  width: 80%;
  font-size: 20px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.text-overlay2 {
  position: relative;
  font-size: 20px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.text-overlay3 {
  position: relative;
  text-align: center;
  width: 80%;
  font-size: 20px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}
.button-container1:hover .text-overlay1 {
  opacity: 1;
}
.button-container2:hover .text-overlay2 {
  opacity: 1;
}
.button-container3:hover .text-overlay3 {
  opacity: 1;
}

.button {
  background-color: #fc4d04;
  border: 3px solid #fc4d04;
  border-radius: 5em;

  font-family: AlteHaas;
  font-size: 20px;
  color: white;

  padding: 40px 80px;
  min-width: 200px;
  margin: 4px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
}

.button:hover {
  color: #2b00ff;
}
.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.button1:before {
  transform: scaleX(0);
}
.button2::before {
  transform: scaleX(0);
}
.button3::before {
  transform: scaleX(0);
}
.button1:hover::before {
  transform: scaleX(1);
}
.overlay {
  position: relative;
  bottom: -40px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

h1 {
  font-family: AlteHaas !important;
  font-size: 20px;
  color: #fc4d04;
  position: absolute;
  left: 10%;
  bottom: 8rem;
  padding: 0rem 0rem;
  translate: 0% 0;
}
h2 {
  top: -1000px;
  left: 0px;
  text-align: center;
  color: #fc4d04;
  font-size: 150px;
  position: relative;
}

h3 {
  top: 50px;
  left: 300px;
  color: white;
  font-size: 90px;
  position: relative;
  margin: 3px;
  padding: 10px;
}

h4 {
  top: 50px;
  text-align: center;
  left: 0px;
  color: #ffffff;
  font-size: 40px;
  position: relative;
  margin: 3px;
  padding: 10px;
}
h5 {
  top: 10px;
  left: -20px;
  color: #ffffff;
  font-size: 20px;
  position: relative;
  margin: 10px;
  padding: 10px;
}
/*
  html {
    scroll-behavior: smooth;
  }
  */

#object1 {
  width: 50px;
  height: 40px;
  position: relative;
  left: 30px;
  top: 650px;
}
#object2 {
  width: 45px;
  height: 40px;
  position: relative;
  left: 1270px;
  top: 650px;
}
/* Navigation bar styles */
nav {
  top: 20px;
  left: 20px;
  display: inline-block;
  line-height: normal;
  position: fixed;
  inset: 0 0 auto;
}
nav:hover {
  z-index: +1;
}
nav ul {
  padding: 10px;
  display: inline-block;
  line-height: normal;
  background-color: none;
  width: 100%;
  list-style: none;
  display: flex;
  gap: 1em;
}

nav li {
  display: inline-block;
  line-height: normal;
  flex: 1;
  flex-grow: 0;
}
nav li.spacer {
  display: inline-block;
  line-height: normal;
  flex-grow: 1;
}

nav a {
  display: inline-block;
  line-height: normal;
  width: clamp(300px, 15vw, 240px);

  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #ffffff;

  text-decoration: none;
  text-align: center;

  background: #fc4d04;

  border-radius: 1em;
}

section {
  min-height: 100vh;

  padding: 5rem 2rem 2rem;

  box-sizing: border-box;
}

section.content {
  width: 100%;
  padding: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
/*
  section a.btn-next {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    padding: 0.25rem 0.5rem;
    translate: -50% 0;
  
    color: #fff;
    background: #fc4d04;
  }
  
  /* Content section styles */

#playdough {
  position: relative;
  top: -100px;
  width: auto;
  width: 100%;
  /* margin: 1em auto; */
  font-size: clamp(20px, 15.5vw, 900px);
  color: #fc4d04;
  text-transform: uppercase;
  cursor: ew-resize;
}
#playdough div {
  width: 100%;
  justify-content: center;
  display: flex;
}

#playdough span {
  transition: flex-basis 0.4s ease-in-out;

  flex-basis: 1%;
}
#playdough span:hover {
  flex-basis: 100%;
}

#content-start {
  position: relative;
  top: 30px;
  text-align: center;
  font-size: 70px;
  color: #ffffff;
  background-color: #2b00ff;
}

#content-two {
  margin-top: -1500px;
  font-size: 20px;
  color: #fc4d04;
  background-color: #2b00ff;
}
#content-three {
  font-family: AlteHaas;
  font-size: 20px;
  color: black;
  background-color: white;
}

.content-four {
  position: relative;
  left: 400px;
  top: 150px;
  font-size: 90px;
  color: white;
}

#content-five {
  font-size: 20px;
  color: #fc4d04;
  background-color: white;
}
#content-six {
  font-size: 20px;

  color: #fc4d04;
  background-color: white;
}

#content-seven {
  font-size: 20px;

  color: #fc4d04;
  background-color: white;
}
#content-eight {
  font-size: 20px;

  color: #fc4d04;
  background-color: white;
}
.jws-circle {
  top: -555px;
  left: -120px;
  width: 30px;
  height: 30px;
  font-size: 8px;
  position: relative;
  background-color: #2b00ff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(20deg); /* Rotate the line 45 degrees */
  transform-origin: center bottom; /* Set the rotation origin to the bottom center */

  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}

.kim-circle1 {
  top: -810px;
  left: 650px;
  width: 30px;
  height: 30px;
  font-size: 8px;
  position: relative;
  background-color: #fc4d04;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-20deg); /* Rotate the line 45 degrees */
  transform-origin: center bottom; /* Set the rotation origin to the bottom center */
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}

.kim-circle2 {
  z-index: -1;
  top: -2700px;
  left: 200px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  position: relative;
  background-color: #fc4d04;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(20deg); /* Rotate the line 45 degrees */
  transform-origin: center bottom; /* Set the rotation origin to the bottom center */
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}

.jws-circle2 {
  top: -100px;
  left: -20px;
  width: 60px;
  height: 60px;
  font-size: 15px;
  position: relative;
  background-color: #2b00ff;
  color: #fff;
  transform: scale(1.1);
  transition: all 0.3s ease;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}

.jws-box {
  top: -160px;
  left: 700px;
  width: 500px;
  height: 55px;
  border-radius: 0.2em;
  position: relative;
  color: #ffffff;
  font-size: 20px;
  background-color: #2b00ff;
}

.circle {
  top: -470px;
  left: 500px;
  width: 80px;
  height: 80px;
  position: relative;
  background-color: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}
.bonds-title {
  position: relative;
  top: 100px;
  left: 100px;
  margin: 100px;
  text-align: center;
  font-size: 90px;

  color: white;

  animation: scale 3s ease 1s infinite; /* Name, duration, timing function, delay, iteration count */
}
.circle2 {
  top: -800px;
  left: 400px;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #2b00ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  border: 2px solid #ffffff;
}
.box1 {
  top: -900px;
  left: 500px;
  width: 500px;
  height: 220px;
  border-radius: 0.2em;
  position: relative;
  color: #ffffff;
  font-size: 25px;
  background-color: #2b00ff;
  border: 2px solid #ffffff;
}
.box2 {
  top: -900px;
  left: 100px;
  width: 900px;
  height: 250px;
  border-radius: 0.2em;
  position: relative;
  font-size: 25px;
  color: #ffffff;
  background-color: #2b00ff;
  border: 2px solid #ffffff;
}
.box3 {
  top: -900px;
  left: 400px;
  width: 900px;
  height: 500px;
  border-radius: 0.2em;
  position: relative;
  font-size: 25px;
  color: #ffffff;
  background-color: #2b00ff;
  border: 2px solid #ffffff;
}
.box4 {
  top: -2300px;
  left: 100px;
  width: 800px;
  height: 300px;
  border-radius: 0.2em;
  position: relative;
  font-size: 25px;
  color: #ffffff;
  background-color: #fc4d04;
  border: 2px solid #ffffff;
}

.circle3 {
  top: 0px;
  left: 500px;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #fc4d04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transform-origin: center bottom; /* Set the rotation origin to the bottom center */
  font-size: 20px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  animation: scale 3s ease 1s infinite; /* Name, duration, timing function, delay, iteration count */
}
.circle4 {
  overflow: hidden; /* Hide any overflowing text */

  left: 100px;
  top: -200px;
  width: 900px;
  height: 500px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 5em;
  position: relative;
  background-color: none;
  font-size: 25px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
}

.circle-y1 {
  top: -900px;
  z-index: -1;
  left: -500px;
  width: 400px;
  height: 400px;
  position: relative;
  background-color: #fc4d04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  animation: scale 3s ease 1s infinite;
}

.circle-y2 {
  top: -200px;
  left: -10px;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #fc4d04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  animation: scale 3s ease 1s infinite;
}
.circle-y3 {
  top: -750px;
  left: 100px;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #fc4d04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  animation: scale 3s ease 1s infinite;
}
.circle-y4 {
  top: -800px;
  left: -200px;
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #fc4d04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  animation: scale 3s ease 1s infinite;
}
.circle-y5 {
  top: -1400px;
  z-index: -1;
  left: -400px;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #fc4d04;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
  animation: scale 3s ease 1s infinite;
}

.downward-line1 {
  position: relative;
  top: 939px;
  left: 30%;
  width: 0;
  height: 480px; /* Adjust the height as needed */
  border-left: 1px solid #ffffff; /* 1px width, solid style, black color */
  transform: rotate(43deg); /* Rotate the line 45 degrees */
}
.downward-line2 {
  position: relative;
  top: 525px;
  left: 52%;
  width: 0;
  height: 340px; /* Adjust the height as needed */
  border-left: 1px solid #ffffff; /* 1px width, solid style, black color */
  transform: rotate(0deg); /* Rotate the line 45 degrees */
}
.downward-line3 {
  position: relative;
  top: 140px;
  left: 1130px;
  width: 10px;
  height: 400px; /* Adjust the height as needed */
  border-left: 1px solid #ffffff; /* 1px width, solid style, black color */
  transform: rotate(-40deg); /* Rotate the line 45 degrees */
}

/* Pop-up Styles */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it appears above other elements */
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

/*.moving-text-container {
  width: 100%;
  overflow: hidden;
  position: relative; 
  top: 100px; 

.moving-text {
  white-space: nowrap;
  animation: moveText 15s linear infinite;
*/

@keyframes moveText {
  0% {
    transform: translateX(100%); /* Start off the right side of the container */
  }
  100% {
    transform: translateX(-100%); /* Move to the left side of the container */
  }
}

h6 {
  font-size: 30px;
  color: white;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.gif-1 {
  position: relative;
  top: 80px;
  left: 0px;
  width: 100px;
  height: 100px;
  font-size: 15px;
  color: white;
  animation: bounce 2s infinite; /* Apply the animation to your text */
}

.gif-2 {
  position: relative;
  top: 600px;
  left: 700px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: white;
  animation: bounce 2s infinite; /* Apply the animation to your text */
}

.type-design {
  position: relative;
  top: 1000px;
  left: 0px;
  display: flex;
}

.type-design > div {
  position: sticky;
  top: 0;
}

.title-y1 {
  position: relative;
  left: 200px;
  top: 900px;
  font-size: 90px;
  color: #fc4d04;
}

.intro-position {
  position: relative;
  top: 300px;
  left: -100px;
  width: 50%;
  float: right;
  text-align: center;
  padding: 20px;
  font-size: 40px;
  color: white;
}

.image-column {
  position: relative;
  top: 1000px;
  left: 50px;
}

.image-column2 {
  position: relative;
  top: 3000px;
  left: 50px;
}

.type-title {
  position: relative;
  top: 1800px;
  left: 500px;
  font-size: 80px;
  color: #fc4d04;
}

.text-column {
  position: relative;
  text-align: center;
  top: 2000px;
  left: 500px;
  font-size: 35px;
  color: white;
}

.typography-title {
  position: relative;
  top: 1100px;
  left: 500px;
  font-size: 80px;
  color: #fc4d04;
}

.text-column2 {
  position: relative;
  text-align: center;
  width: 50%;
  top: -200px;
  left: 700px;
  font-size: 35px;
  color: white;
}

.button-y1 {
  position: relative;
  top: 400px;
  left: 800px;
  width: 40px;
  height: 40px;
  transform-origin: center bottom;
  border-radius: 0.2em;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  color: #2b00ff;
  background-color: #fc4d04;
}
.button-y2 {
  position: relative;
  top: 400px;
  left: 900px;
  width: 40px;
  height: 40px;
  transform-origin: center bottom;
  border-radius: 0.2em;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  color: #2b00ff;
  background-color: #fc4d04;
}

.button-y3 {
  position: relative;
  top: 400px;
  left: 1000px;
  width: 40px;
  height: 40px;
  transform-origin: center bottom;
  border-radius: 0.2em;
  border-radius: 50%;
  font-size: 10px;
  text-align: center;
  color: #2b00ff;
  background-color: #fc4d04;
}

/* Style for the column container */
.column-container {
  display: flex; /* Use Flexbox */
  justify-content: space-between; /* Distribute space evenly between columns */
}

/* Style for each column */
.column {
  flex: 1; /* Make columns equally spaced */
  padding: 20px; /* Add some padding for spacing */
  border: 1px solid #ccc; /* Add borders for visualization */
  text-align: center; /* Center text */
}

#user-input {
  text-align: center;
}

#user-input h5 {
  left: 0;
}
#user-input textarea {
  max-width: 100%;
  padding: 1rem;
  margin: 0.25rem 1rem 0.5rem;
  border: 0;
  outline: 0;
}

.circle-p {
  position: relative;
  top: 650px;
  left: -670px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #fc4d04;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}
.circle-23 {
  position: relative;
  top: 601px;
  left: -620px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #fc4d04;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center the circle horizontally */
  margin-top: 20px; /* Add some top margin to separate it from the text */
}
